//colors

$darkblue: hsl(233, 26%, 24%);
$limegreen: hsl(136, 65%, 51%);
$brightcyan: hsl(192, 70%, 51%);
$grayishblue: hsl(233, 8%, 62%);
$lightgrayishblue: hsl(220, 16%, 96%);
$verylightgray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//font sizes

$font-1: 0.625rem; // 10px
$font-2: 0.75rem; // 12px
$font-3: 0.875rem; // 14px
$font-4: 1rem; // 16px
$font-5: 1.125rem; // 18px
$font-6: 1.375rem; // 22px
$font-7: 1.75rem; // 28px
$font-8: 2.125rem; // 34px
$font-9: 2.375rem; // 38px
$font-10: 3.1875rem; // 51px
